<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:5px
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<!-- Top -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-brand text-white-40 font-weight-bold">
            <span class="nav-username">Username current login user</span>
            with roles:
            <td><span class="nav-user-roles">roles of current login user</span></td>
        </div>
        <a class="nav-link text-white-50" href="http://localhost:8080/login" style="position:absolute; top:5px; right:5px;">Logout</a>
    </nav>
</header>
<br>

<!-- Page -->
<div class="container-fluid">
    <div class="row">
        <!-- Left bar -->
        <div class="col-2 pl-0 pr-0">
            <nav class="nav flex-column nav-pills">
                <a class="nav-link active" href="/user">User</a>
            </nav>
        </div>

        <!-- Right Table -->
        <div class="col-10 bg-light text-dark" style="height: 100vh">
            <h1> User information-page</h1>
            <div class="tab-content">
                <div class="card">
                    <div class="card-header">
                        <b>About User</b>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <!--                                <th>Password</th>-->
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody id="data">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/user.js}" src="../static/user.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>